<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Programming is complex, read my blog, clean your head</h1>
                        <a href="blog" class="btn btn-outline btn-xl page-scroll">As Promised My Blog</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="project-category text-faded">
                        Category
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
